* {
    box-sizing: border-box;
}

.navbar-brand {
    float: left;
    font-family: fantasy;
    font-size: 2em;
    letter-spacing: 2px;
    padding-right: 2em;
}

body{
    background-color: #000000;
}

.card {
    padding: 0;
    justify-content: space-evenly;
    text-align: center;
    color: #ffffff;
    background-color: #343a40;
    border: solid #000000 3px;
    border-radius: 7px;
}

#quickStats {
    min-height: max-content;
    max-height: 80vh;
    
}

#quickStats .card:not(#total):hover{
    cursor: pointer;
    border: solid #ffffff 1px;
}

#map {
    border-radius: 5px;
    border: solid #000000 4px;
    width: 100%;
    min-height: 40em;
    height: 75vh;
}

#mapLegend #scale {
    height: max-content;
    background-image: linear-gradient(to right, green, green, yellow, yellow,red, purple);
}

#mapLegend #scale h5 {
    color: #000000;
    font-weight: bolder;
}

#activityPanel {
    margin-bottom: 1em;
    color: #000000;
    width: 100%;
    min-height: 30em;
    height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#infoPanel {
    overflow-y: auto;
    max-height: 100vh;
}

.btn {
    color: #000000;
    background-color: #ffffff;
}
footer {
    margin-top: 2em;
}
footer li {
    padding-right: 1em;
}