* {
    box-sizing: border-box;
}

.navbar-brand {
    float: center; 
    font-size: x-large;
    padding-right: 2em;
}

html, body{
    background-color: #000000;
    height: 100%;
}
.row {
    justify-content: space-around;
}
.content [class^="col"] {
    min-height: max-content;
    border-radius: 5px;
    border: solid 1px;
}
.blank {
    background-color: #080808;
}
#map {
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 795px;
    height: 400px;
}

footer {
    padding: 1em;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #2a2f33;
    color: #ffffff;
}
