* {
    box-sizing: border-box;
}

.navbar-brand {
    float: center; 
    font-size: x-large;
    padding-right: 2em;
}

html, body{
    background-color: #000000;
    height: 100%;
}
.row {
    justify-content: flex-start;
}
.content [class^="col"] {
    min-height: max-content;
}
.blank {
    border: solid 2px;
}
#map {
    border-radius: 5px;
    border: solid #000000 4px;
    display: block;
    margin: auto;
    width: 100%;
    height: 32em;
}

footer {
    padding: 1em;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #2a2f33;
    color: #ffffff;
}
